<html>
  <head><title>$title</title></head>
    <body>
        <table>
              <tr><td>The message is: <b>$message</b>.</td></tr>
                    <tr><td><i>Powered by cherrypy and cheetah.</td></tr>
        </table>
</body>
</html>