<html>
<head>
<meta http-equiv="refresh" content="url=http://${hostname}:${HTTPport}">
<title>$title</title>
<script type="text/javascript" src="webpage/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="webpage/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="webpage/js/jquery.nestedAccordion.js"></script>
<link rel="stylesheet" type="text/css" href="webpage/css/jquery.css" />
<link rel="stylesheet" type="text/css" href="webpage/css/main.css" />
<script type="text/javascript">
<!--//--><![CDATA[//><!--

\$.fn.accordion.defaults.container = false; 
\$(function() {

     #if $suitsSessions and len($suitsSessions) > 0
        #set $testSessionsNum = len($suitsSessions)
        #for $i in range($testSessionsNum):
             #set $j = $i + 1
             \$("#acc5${j}").accordion({
              wrapper: "div", 
              });
        #end for
       #end if
});
//--><!]]>
</script>
</head>
<body>
<p>XRootD Testing Framework</p>
<div style="width:100%;" id="main">
#include "webpage/main_menu.tmpl"
#set $testSessionsNum = 1
#set $testCasesNum = 1
<div style="display:block;width:95%;float:left;">
    <h1>SUITS SESSIONS [by date]</h1>
    #if $suitsSessions and len($suitsSessions) > 0
    #import copy
    #set $revKeys = copy.copy($suitsSessions.keys())
    #set $revKeys = sorted($revKeys, cmp=lambda x,y: cmp($suitsSessions[$y].initDate, $suitsSessions[$x].initDate))
    #for $key in $revKeys
        #set $suitSess = $suitsSessions[$key]
        #set $htmlSuitColor = "111111"
        #if $runningSuitsUids.has_key($suitSess.name)
            #if $runningSuitsUids[$suitSess.name] == $suitSess.uid
                #set $htmlSuitColor = "00bb00"
            #end if
        #end if
        <div id="acc5${testSessionsNum}" class="accordion">
        <h3><a href="#" style="color:#${htmlSuitColor};">${suitSess.name} 
        <span style="font-weight:normal;">[inited at: ${suitSess.initDate.strftime("%a %d-%m-%Y %H:%M:%S")}]</span></a></h3>
        <div class="inner">
        #if $suitSess.cases and len($suitSess.cases) > 0
        #for $tC in $suitSess.cases.itervalues()
            #set $stages=$suitSess.getTestCaseStages($tC.uid)
            <h4><a href="#"><span style="font-weight:normal;">Test Case</span> <i>${tC.name}</i> 
            <span style='font-weight:normal'>[run at: ${suitSess.initDate.strftime("%H:%M:%S,%f")}]</span></a></h4>
            <div class="inner">
                #set iS = 1
                #if $stages and len($stages)
                #for $stage in $stages
                    #set $color = "#222222"
                    #if $stage[0].id < 0:
                        #set $color = "#dd0000"
                    #end if
                    <p style="color:$color;">${stage[0]} 
                    <a href="#" id="${tC.uid}_st${iS}_button">see details</a></p>
                    <div id="${tC.uid}_st${iS}_details" style="display:none;"
                    title="Details of test result stage at slave ${stage[3]}">
                    <table>
                    <tr><td style="background:#e0e0e0;">state</td></tr>
                    <tr><td>${stage[0]}</td></tr>
                    <tr><td style="background:#e0e0e0;">return code</td></tr>
                    <tr><td>${stage[1][2]}</td></tr>
                    <tr><td style="background:#e0e0e0;">stdout</td></tr>
                    <tr><td>${stage[1][0]}</td></tr>
                    <tr><td style="background:#e0e0e0;">stderr</td></tr>
                    <tr><td>${stage[1][1]}</td></tr>
                    </table>
                    </div>
                    <script style="display:none;">
                    \$( "#${tC.uid}_st${iS}_button" ).click(function() {
                        \$( "#${tC.uid}_st${iS}_details" ).dialog({
                            height: 500,
                            width: 300,
                            modal: true
                        });
                    });
                    </script>
                    #set $iS += 1
                #end for
                #end if
            </div>
            #set $testCasesNum += 1
        #end for
        #else
           <p>No test cases has been run in this session.</p>
        #end if
        </div>
        </div>
        #set $testSessionsNum += 1
    #end for
    #end if
    </div>
</div>
</div>
</body>
</html>